header{
    position:fixed;
    width:100%;


    margin-top: -120px;
    margin-left: -8px;
    margin-right: -8px;
}

/*Весь блок навигации*/
.nav{
    margin-bottom: 8px;

    padding-left:5%;
    padding-right:5%;
    padding-top:0.5%;
    padding-bottom:0.5%;

    width:auto;

    background-color: #ffffff;

    box-shadow: 1px 1px 8px 0 #000000;
    

    display:flex;
    justify-content:space-between;
    align-items:center;
}

/*Блок с логотипом и меню*/
.nav-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    height:fit-content;
    width:fit-content;
}
.nav-bar div{
    margin-left:10px;
    margin-right: 10px;
}
.nav-bar-menu{
    display:flex;
} 
 .nav-bar-menu button{
    display:none;

    border:0px;
    background-color: #ffffff;
 }
.nav-bar-menu>div>a{
    border:0px;
    color:#121212;
    text-decoration: none;
    
    font-family: "Open Sans";
    font-weight: 300;
    font-size:24px;
}

/*Конвертация списка меню в кнопку*/
@media screen and (max-width:1130px) {
    .nav-bar-menu>div>a{
        display:none;
    }
    .nav-bar-menu>div{
        display:none;
    }
    .nav-bar-menu>button{
        display:block;
    }
}

/*Блок с городом и телефоном*/
.city-and-phone{
    font-family: "Open Sans";
    font-weight: 400;
    font-size:20px;

    display:flex;
    justify-content: space-between;
    align-items: center;
}
.city-and-phone>div{
    margin-left:10px;
    margin-right:10px;
}
.city-image>img{
    display:none;
}
.phone-image>a{
    display:none;
}
.city{
    border-bottom: 1px dashed #a32829;
}
.phone>a{
    text-decoration: none;

    color:#a32829;

    font-weight: 500 !important;
}

/*Конвертация записей в картинки*/
@media screen and (max-width:720px) {
    .phone>a{
        display:none;
    }
    .city>span{
        display:none;
    }
    .city-image>img{
        display:inline;
    }
    .phone-image>a{
        display:inline;
    }
}

/*Корректировка размеров картинок для маленьких экранов*/
@media screen and (max-width:510px) {
    .logo>img{
        width:90px;
        height:60px;
    }
    .nav-bar-menu>button>img{
        width:30px;
        height:30px;
    }
    .city-image>img{
        width:35px;
        height:35px;
    }
    .phone-image>a>img{
        width:30px;
        height:30px;
    }
}