main{
    margin-top:120px;
}

/*Блок спецпредложений*/
.special-offers{
    padding-left:3%;
    padding-right:3%;

    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    font-family: "Open Sans";
}
.special-offers>h1{
    text-align: center;
}
.special-offer{
    margin-top: 5%;
    margin-bottom: 5%;
}
.special-offer>button {
    cursor:pointer;

    border:0px;

    background-color: #A32829;

    box-shadow: 1px 1px 8px 0 #000000;

    display:flex;
    justify-content: space-between;
}
.special-offer>button>img{
    margin-right:20px;

    width:100%;
    height:100%;
}
.action{
    padding-top:9%;
    padding-bottom:9%;

    background-color: #A32829;
}
.description{
    padding:20px 40px;

    height:auto;
    width:100%;

    box-sizing:border-box;

    background-color: #A32829;


    color:#ffffff;

    font-size:20px;

    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width:1100px) {
    .special-offer>button{
        flex-direction: column;
    }
}