main{
    margin-top:120px;
}
main>h1{
    padding-left:10%;

    font-family: "Open Sans";
}

/*Блок "Как нас найти"*/
.find{
    padding-left:3%;
    padding-right:3%;
    font-family: "Open Sans";

    display: flex;
    justify-content: space-around;
}
.call{
    padding:10px 20px;
    border-right:1px solid #000000;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.email{
    padding:10px 20px;
    border-right:1px solid #000000;

    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.adress{
    padding:10px 20px;
    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.call>h2>a{
    text-decoration: none;

    border-bottom: 1px solid #A32829;

    color:#000000;
}
.email>h2>a{
    text-decoration: none;

    border-bottom: 1px solid #A32829;

    color:#000000;
}

@media screen and (max-width:1124px) {
    .find{
        flex-direction: column;
    }
    .call{
        border-bottom:1px solid #000000;
        border-right:0px;
    }
    .email{
        border-bottom:1px solid #000000;
        border-right:0px;
    }
}